# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# .NET build folders
**/bin/
**/obj/

# IDE files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Vite
.vite/

WebAPI/bin/Debug/net9.0/WebAPI.dll
        WebAPI/bin/Debug/net9.0/WebAPI.exe
        WebAPI/bin/Debug/net9.0/WebAPI.pdb
        WebAPI/obj/Debug/net9.0/WebAPI.AssemblyInfo.cs
        WebAPI/obj/Debug/net9.0/WebAPI.AssemblyInfoInputs.cache
        WebAPI/obj/Debug/net9.0/WebAPI.dll
        WebAPI/obj/Debug/net9.0/WebAPI.pdb
        WebAPI/obj/Debug/net9.0/WebAPI.sourcelink.json
        WebAPI/obj/Debug/net9.0/apphost.exe
        WebAPI/obj/Debug/net9.0/ref/WebAPI.dll
        WebAPI/obj/Debug/net9.0/refint/WebAPI.dll