.info{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
    padding: 20px;
    margin:10px;
    text-align: center;
    width: 400px;
    display: inline-block;
    background-color: rgb(250, 215, 215);
}

.info p{
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.role-table {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
}

.role-table th,
.role-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}